# Directories to ignore
secrets/
models/
__pycache__/
data/
AutogluonModels/

# Python cache files
*.py[cod]
*$py.class

# Data files
*.parquet
*.db
*.pkl

# AutoGluon specific
models/autogluon-*/

# Data directories
data/backups/
data/parquet/

# Specific large files
data/backups/candles_backup_*.db
data/parquet/*_AG_combined.parquet
notebooks/AutogluonModels/